html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-size:62.5%;
    font-family: 'Open Sans', sans-serif;
    box-sizing:border-box;
/*    background-color:#5fcf80;*/
/*    background-color: #63ac66;*/
    
    background-color:#397b3c;
    font-smoothing: antialiased;
    
}

/*global_style*/
a{
    
    margin:0;
    padding:0;
    text-decoration:none;
}

nav{
    width:100%;
    height:5rem;
    margin:0;
    padding:0;
    display:inline-block;
/*    background-color:#FFFFFF;*/
/*    background-color:#f8e584;*/
    background-color:#f3ca3c;
    
}



section[id=menu_container]{
    width:100%;
    height:100%;
    
    margin:0;
    padding:0;

    display:flex;
    flex-direction:row;
    align-items:center;
    
    border-bottom:.5rem;
    border-bottom-color:#f4d35e;
    border-bottom-style:solid;
}


a[id=menu_school_name]{
    
    margin-left:1rem;
    height:35%;
    
    display:inherit;
    flex-grow:1;
    
    
/*  BOX_MODEL
    
    float:left;
    position:relative;
    top:35%;
*/
    
}


a[id=menu_school_name]:hover{

}




a[id=menu_button]{
    margin-right:1rem;
    height:35%;
    
    display:inherit;
    flex-grow:1;
    justify-content:flex-end;
    
/*
    why 35 percent? we are factoring margin which is 15. 1rem is 10
*/
     

/*BOX_MODEL
    
    float:left;
    position:relative;
    top:35%;
*/

}


span[id=menu_empty]{
     height:35%;
     content:'';
     flex-grow:1;   
}


span[id=menu_school_name_text]{
    margin:0;
    padding:0;
    font-size:2rem;
    line-height:2rem;
    color:#244226;
    font-weight:600;
    
    text-shadow:
    0rem 0rem .1rem #f3ebce,
    0rem 0rem .1rem #f3ebce,
    0rem 0rem .1rem #f3ebce,
    0rem 0rem .1rem #f3ebce,
    0rem 0rem .1rem #f3ebce,
    0rem 0rem .1rem #f3ebce,
    0rem 0rem .1rem #f3ebce,
    0rem 0rem .1rem #f3ebce;

}

span[id=menu_school_name_text]:hover{

}


span[id=menu_icon]{
    width:2.5rem;
    height:.3rem;

    display:block;
    position:relative;
    top:.7rem;
    margin:0;
    padding:0;
    content:'';
    background-color:#565656;
    border-radius:.6rem;

    
}

span[id=menu_icon]::before{
    width:2.5rem;
    height:.3rem;

    position:absolute;
    
    top:-.7rem;
    padding:0;

    content:'';
    background-color:inherit;
    border-radius:.6rem;    
}

span[id=menu_icon]::after{
    width:2.5rem;
    height:.3rem;

    position:absolute;
    
    top:.7rem;
    padding:0;
    
    content:'';
    background-color:inherit;
    border-radius:.6rem;    
}



/*colour palate*/
/*https://coolors.co/app/4aa149-faf0ca-f4d35e-ee964b-f95738*/
/*https://coolors.co/app/08ad45-dde595-e0cd3e-e0923e-e0443e*/

/*cream*/
.cream{
    color:#faf0ca;
}

.gold{
    color:#F4D35E;
}

.orange{
    color:#EE964B;
}

.red_orange{
    color:#F95738;
}

/*font styling*/
